<!doctype html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
  data-theme="theme-default" data-/assets-path="/assets/" data-template="vertical-menu-template-no-customizer"
  data-style="light">

<head>
  <script src="layout/meta.js"></script>

  <style>
    div.dt-top-container {
      display: grid;
      grid-template-columns: auto auto auto;
    }

    div.dt-center-in-div {
      margin: 0 auto;
    }

    div.dt-filter-spacer {
      margin: 10px 0;
    }
  </style>

</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <script src="/layout/nav.js"></script>

      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        <script src="/layout/nav2.js"></script>

        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">
            <!-- DataTable with Buttons -->
            <div class="card">
              <div class="card-datatable table-responsive p-5">
                <table id="news" class="display" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Title</th>
                      <th>Title EN</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

              </div>
            </div>
            <!-- Modal to add new record -->

            <!--/ DataTable with Buttons -->

          </div>
          <!-- / Content -->

          <!-- Footer -->
          <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl">
              <div
                class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                <div class="text-body mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  KDEKS
                </div>
              </div>
            </div>
          </footer>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
  </div>
  <!-- / Layout wrapper -->

  <script src="/layout/footer.js"></script>  
  
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script>
    $(document).ready(function () {
      // 2. Inisialisasi DataTable
      $('#news').DataTable({
        "ajax": {
          "url": "/api_files",
          "dataSrc": ""
        },
        "columns": [
          
          { "data": "id" },
          { "data": "title" },
          { "data": "title_en" },
          {
            "data": null,
            "render": function (data, type, row) {
              return `<p><button class='edit-btn btn btn-warning' data-id='${row.id}' style="padding:2px; float: left; margin: 2px">Edit</button>
                                <button class='delete-btn btn btn-danger' data-id='${row.id}' data-foto='${row.image}' style="padding:2px; float: left; margin: 2px">Delete</button></p>`;
            }
          }
        ],
        lengthMenu: [10, 25, 50, 100],
        dom: '<"dt-top-container"<l><"dt-center-in-div"B><f>r>t<"dt-filter-spacer"f><ip>',
        buttons: [
          'copy',
          'csv',
          'excel',
          'pdf',
          'print'
        ],
      });

      $('#news').on('click', '.edit-btn', function () {
        var id = $(this).data('id');
        window.location.href = '/n_edit/' + id;
      });

      $('#news').on('click', '.delete-btn', function () {
        var id = $(this).data('id');
        var foto = $(this).data('foto');
        if (confirm('Apakah kamu yakin ingin menghapus data ini?')) {
          window.location.href = '/deletenews/' + id + '/' + foto;
        }
      });
    });
  </script>

</body>

</html>